# Dependencies
node_modules

# Next.js
.next
out

# Environment files
.env
.env.local
.env.production.local
.env.development.local

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db
